         Stil.css Annvänds för höger ramen

	
	a         { color: "blue";  text-decoration: none; }
	a:link    { color: "blue";  text-decoration: none }
	a:active  { color: #C0C0C0; text-decoration: underline }
   	a:visited { color: #009999; text-decoration: none }
	a:hover   { color: "Black"; text-decoration: underline }
	
	h			{ font-size: 1px; }
	
   	.Datum       { font-size: 10pt; color: #000000; position: relative; left: 20px; 
               top: 10px; font-style: italic }

.Rubrik      { font-size: 36pt; color: rgb(66, 15, 219); font-family: arial, veranda; 
               text-align: center; font-weight: bold; text-decoration: underline; 
               position: absolute; left: 12%; width: 100px }
              
.Text        { font-size: 12pt; color: black; font-family: 'times new roman', veranda, arial; 
               text-transform: normal; letter-spacing: 1px; width: 100%; 
               position: relative; float: left;  }
               
.mainframe   { width: 640px; position: absolute; left: 0}

.frame       { font-size: 12pt; background-color: #EEEEFF; position: absolute; top: 55px; 
               width: 520px; left: 0; bottom: 0px; height: 350px; padding: 5px; }
               
 

               


